<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.resume.resumespringboot.mapper.ResumeCustomMapper">
    <select id= "queryResumeByName" parameterType="string" resultType="com.resume.resumespringboot.pojo.Resume">
        SELECT *
        FROM resume
        WHERE id = #{userName}
    </select>

</mapper>